@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif; 
    box-sizing: border-box;
    /* text-align: center; */
}

p {
    line-height: 1.5;
}

body {
    /* background-image: url(assets/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg); */
    background-image: url("assets/backgroundimage3.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: 20% 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #mainsection {
    width: 1800px;
    margin: auto;
} */

h1 {
    font-weight: 600;
    color: white;
}

.popupbox1 {
    width: 85vw;
    background-image: url("assets/backgroundimage3.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid #5E6B64;
    padding: 20px;
    margin: 2%;
    text-align: center;
    box-shadow: 5px 5px 13px 1px #383838;
}

#mastercontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    gap: 50px;
}

.popupbox1container1 {
    padding: 10px;
}

.popupbox1container2 {
    border-radius: 20px;
    border: 1px solid #5E6B64;
    padding: 10px;
    box-shadow: 5px 5px 13px 1px #383838;
}


/* Feature Cards */

.featurecardparentcontainer {display: flex;
justify-content: center;
gap: 10%;
padding: 20px;
margin-bottom: 30px;
}

.featurecard {
    width:40vh;
    height:50vh;
    perspective:1000px;
    box-shadow: 5px 5px 13px 1px #383838;
}

/* Card */

.featurecard1, .featurecard2 {
    width:100%;
    height:100%;
    position:relative;
    transition:transform 0.7s;
    transform-style:preserve-3d;
    cursor:pointer;
}

/* Rotate when clicked */

.featurecard1.flip{
    transform:rotateY(180deg);
}

.featurecard2.flip{
    transform:rotateY(180deg);
}

/* Front + Back */
.featurecard1front, .featurecard1back, .featurecard2front, .featurecard2back {
    position:absolute;
    width:100%;
    height:100%;
    border-radius:15px;
    overflow:hidden;
    backface-visibility:hidden;
}

/* Front */

.featurecard1front{
    background-image: url("https://plus.unsplash.com/premium_photo-1677094310919-d0361465d3be?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    color:white;
    padding: 10px;
}

.featurecard2front{
    background-image: url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    color:white;
    padding:10px;
}

/* Back */

.featurecard1back, .featurecard2back {
    background:white;
    padding:30px;
    transform:rotateY(180deg);
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

.featurecard1back, .featurecard2back p{
    line-height: 1;
}

/* Feature Cards End */

.popupbox2 {
    width: 85vw;
    background-image: url("assets/backgroundimage3.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    margin: 2%;
    text-align: center;
}

.brandbuttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.brandbutton {
    width: 20rem;
    height: 8rem;
    border: 1px solid white;
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23E7C1FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.13'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    border-radius: 30px;
    cursor: pointer;
}

.brandname {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

#AIMbrandbutton {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Australia_Institute_of_Management_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#ABSbrandbutton {
    background-image: url("https://www.aim.com.au/sites/default/files/AIM-Business-School-Logo_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("assets/backgroundimage3.jpg");
    background-position: center;
    background-size: cover;
    opacity: 100%;
}

.modalcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .writteninstructions {
    border-radius: 20px;
    text-align: left;
    color: #DADEDC;
    background-color: #66746C;
    background: #8E8B86;
    background: linear-gradient(90deg,rgba(142, 139, 134, 0.75) 24%, rgba(107, 121, 121, 1) 100%, rgba(73, 79, 71, 1) 59%);
    background-image: url("assets/backgroundimage3.jpg");
    background-size: cover;
    background-position: center;
    opacity: 65%;
    padding: 10px;
} */

.expandinginstructionscontainer {
    width: 80%;
    border: 1px solid red;
    border-radius: 30px;
    padding: 40px;
    margin: auto;
}

.featureinstructionsheader {
    background-color: rgb(211, 211, 211);
    border-bottom:1px solid rgba(211, 211, 211, 0.39);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
}

h3 {
    padding: 5px;
}

ol {
    border-radius: 20px;
    line-height: 1.5;
    text-align: left;
}


.feature1instructions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 7%;
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.feature2instructions {
    /* padding-left: 10px;
    padding-right: 10px; */
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.carouselcardcontainer {
    width: 100%;
    /* padding: 20px 0 20px 0; */
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    z-index: 1;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.carouselcardcontainer::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.carouselcardcontainer::scroll-button(*):hover,
.carouselcardcontainer::scroll-button(*):focus {
  opacity: 1;
}

.carouselcardcontainer::scroll-button(*):active {
  translate: 1px 1px;
}

.carouselcardcontainer::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carouselcardcontainer::scroll-button(left) {
  content: "◄" / "Previous";
}

.carouselcardcontainer::scroll-button(right) {
  content: "►" / "Next";
}


.carouselcard {
    background-color: #eeeeee;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    width: 70%;
    border-radius: 20px;
    list-style-type: none;  
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    flex: 0 0 100%;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.carouselcard:nth-child(even) {
    background-color: #D3DDDD;
}


.AIMfeature2card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    padding: 15px;
}

#AIMfeature2card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.AIMfeature2card > img {
    width: 100%;
}

.AIMfeature2card > iframe {
    width: 90%;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
    border-radius: 20px;
    margin: 0 0 25px 0;
}


.redbox {
    border: 1px solid red;
    height: 20%;
    width: 20%;
/* transform:translateX(150%);
transform:translateY(-150%); */
} 
/* not sure why TranslateX is not working

#editingmodeimage {
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    background-image: url("assets/Edit Mode Image.png");
}

#assessmentresourcesimage {
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    background-image: url("assets/Assessment Resources Image.png");
}

#commonmodulesettingsimage {
    background-image: url("assets/Module Settings.png");
}

.carouselcardcontentcontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    gap: 20px;
}

/* iframe {
    height: 360px;
    width: 640px;
} */



.genericcode {
    border: 3px solid #4E5452;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
}